body {
    --primary-font-color: hsla(269, 27%, 15%, 1);
    --main-light: hsla(269, 27%, 95%, 1);
    --accent-light-1: hsla(269, 50%, 90%, 1);
    --accent-light-2: hsla(269, 27%, 70%, 1);
    --accent-light-0: hsla(269, 27%, 80%, 1);
    --accent: hsla(269, 27%, 66%, 1);
    --accent-dark-2: hsla(269, 15%, 70%, 1);
    --accent-dark-1: hsla(269, 27%, 51%, 1);
    --accent-dark-0: hsla(269, 27%, 40%, 1);
    --secundary-light: hsla(329, 40%, 90%, 1);
    --secundary-dark-0: hsla(329, 40%, 82%, 1);
    --therciary   : hsla(329, 40%, 50%, 1);
    transition: 0.35s;
}

/**
*   Dark Theme
*/
body[ariana-ocando-dark-theme="dark"] {
    --primary-font-color: hsla(269, 27%, 85%, 1);
    --main-light: hsla(269, 27%, 5%, 1);
    --accent-light-1: hsla(269, 50%, 10%, 1);
    --accent-light-2: hsla(269, 27%, 30%, 1);
    --accent-light-0: hsla(269, 27%, 20%, 1);
    --accent: hsla(269, 27%, 34%, 1);
    --accent-dark-2: hsla(269, 15%, 30%, 1);
    --accent-dark-1: hsla(269, 27%, 49%, 1);
    --accent-dark-0: hsla(269, 27%, 60%, 1);
    --secundary-light: hsla(329, 40%, 10%, 1);
    --secundary-dark-0: hsla(329, 40%, 18%, 1);
    --therciary   : hsla(329, 40%, 50%, 1);
}

/**
* sass Custom Colors vars
*/
$primary-font-color: var(--primary-font-color) ;
$main-light: var(--main-light) ;
$accent-light-1: var(--accent-light-1) ;
$accent-light-2: var(--accent-light-2) ;
$accent-light-0: var(--accent-light-0) ;
$accent: var(--accent) ;
$accent-dark-2: var(--accent-dark-2) ;
$accent-dark-1: var(--accent-dark-1) ;
$accent-dark-0: var(--accent-dark-0) ;
$secundary-light: var(--secundary-light) ;
$secundary-dark-0: var(--secundary-dark-0) ;
$therciary:  var(--therciary);

/**
* Custom fonts Font
*/
$body-font-size-base: 16px;
$light-font-weight: 300;
$body-font-weight: 400;
$semibold-font-weight: 600;
$bold-font-weight: 700;


$spacing: 4px;
$border: $spacing*3;
$transition-speed: 0.3s;