@import "./custom-variables";

.timeline-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  
  .featured-container {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  .timeline-title {
      font-size: 2.75rem;
      font-weight: $semibold-font-weight;
      color: $therciary;
      text-transform: capitalize;
      width: auto;
      margin-bottom: 0;
  }
  .line {
    position: absolute;
    margin-top: $spacing*5;
    width: 200px;
    height: 93%;
    left: 47%;
    border-left: $spacing dashed $secundary-dark-0 ;
    border-bottom: $spacing dashed $secundary-dark-0 ;
    transform: rotateY(180deg);
    border-bottom-left-radius: $border*2;
    z-index: -1;
  }  
  
  .timeline-cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: $spacing*20;
  }
}  


