@import "./custom-variables";

.banner-section {
    width: 100dvw;
    img {
        z-index: -1;
    }
    &__content {
        position: absolute;
        top: 50%;
        left: 10%;
        line-height: 5rem;
        h1 {
            font-size: $body-font-size-base*5;
            font-weight: $semibold-font-weight;
            color: $primary-font-color;
            line-height: inherit;
            margin: 0;
        }
        .lastname{
            font-weight: $light-font-weight;
        }
    }
}