@import "./custom-variables";

.banner-section {
    width: 99.1dvw;
    img {
        z-index: -1;
    }
    &__content {
        position: absolute;
        top: 50%;
        left: 10%;
        line-height: 5rem;
        h1 {
            font-size: $body-font-size-base*5;
            font-weight: $semibold-font-weight;
            line-height: inherit;
            // the only hardcoded color in the app
            color: hsla(269, 27%, 95%, 1);
            margin: 0;
        }
        .lastname{
            font-weight: $light-font-weight;
        }
    }
}