@import "./custom-variables";

.footer-container {
  width: 99.1dvw;
  height: 60dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color:$accent;
  .content-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .contact-text {
      color: $main-light;
      font-size: 2.5rem;
      font-weight: $bold-font-weight;
      margin-top: $spacing*11;
      margin-bottom: $spacing*15;
      text-align: center;
    }
    .description-text {
      width: 100%;
      margin-bottom: $spacing*20;
      text-align: justify;
    }
    .footer-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 60%;
      .btn-secondary {
        display: flex;
        align-items: center;
        background-color: $therciary;
        padding: $spacing*3 $spacing*6;
        border-radius: $border;
        border: none;
        a {
          text-decoration: none;
          color: $main-light;
          margin-left: $spacing*3;
          font-size: 1.25rem;
          font-weight: $bold-font-weight;
        }
        &:hover {
          background-color: $accent-dark-2;
        }
      }
    }
  }
  .develop-name {
    margin-bottom: $spacing*5;
    color: $main-light;
  }
}