@import "./custom-variables";

.navbar-content {
    width: 100%;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    padding: $spacing*6 0px;
    &__item-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.1rem;
        font-weight: $semibold-font-weight;
        text-transform: capitalize;
        a:nth-child(3) {
            margin-right: 0px;
        }
        a {
            margin-right: $spacing*22;
            text-decoration: none;
            &:hover, &:focus {
                color: $accent;
            }
        }
    }
}