@import "./custom-variables";

.position-section {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: $spacing*5;
    margin-bottom: $spacing*22;
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 65%;
    }
    &__title {
        font-size: 3.5rem;
        display: flex;
        flex-direction: column;        
        line-height: 3.5rem;
        margin-bottom: $spacing*5;
        text-align: end;
        p {
            line-height: inherit;
            margin: 0;
        }
    }
    &__developer {
        color: $accent;
        font-weight: $semibold-font-weight;
    }
    &__full-stack {
        color: $accent-light-0;
        font-weight: $body-font-weight;
    }
    &__description {
        text-align: end;
        margin: 0;
    }
}