@import "./custom-variables";

.skills-section {
    width: 100%;
    margin-top: $spacing*20;
    h2 {
        font-size: 2.75rem;
        font-weight: $semibold-font-weight;
        color:  $therciary;
        text-align: end;
        text-transform: capitalize;
    }
}