@import "./custom-variables";

.skill-card {
    margin-bottom: $spacing*6;
    .skill-card__title {
        font-size: 1.75rem;
        color: $accent;
        width: 100%;
        text-align: start;
        margin-bottom: $spacing*4;
        font-weight: $semibold-font-weight;
    }
    &__container {
        margin-top: $spacing*3;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .skill-info {
        width: 60%;
        &__title {
            width: auto;
            font-weight: $semibold-font-weight;
            margin-bottom: $spacing*3;
        }
        &__description {
            width: auto;
            margin-bottom: 0;
        }
    }
    .related-projects-section {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 30%;
        justify-content: flex-start;
    }
    .related-projects {
        font-weight: $semibold-font-weight;
        color: $therciary;
        margin-bottom: $spacing*3;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
    }
    .card-project-container {
        width: 100%;
        background-color: $accent-light-1;
        padding: $spacing*2;
        border-radius: $border;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $spacing*3;
        .project-info {
            width: 60%;
            p {
                margin: 0;
            }
            &__title {
                font-weight: $semibold-font-weight;
                text-transform: capitalize;
            }
            &__subtitle {
                color: $accent-light-2;
            }
        }
        .see-project-button {
            background: $therciary;
            border:none;
            padding: $spacing*2 $spacing*3;
            border-radius: $border;
            a {
                color: $main-light;
                font-weight: $semibold-font-weight;
                text-decoration: none;
            }
            &:hover {
                background-color: $accent-dark-0;
            }
            
        }
    }
}