.skill-pills {
    display: flex;
    flex-wrap: wrap;
    button {
        background-color: #F0DBE6;
        color: #A892C0;
        font-size: 16px;
        font-weight: 700;
        border-radius: 18px;
        padding: 6px 16px;
        border: 1px solid #F0DBE6;
        margin-right: 16px;
        &:hover, &.active {
            background-color: #B34C81;
            color: #F2EFF6;
            border: 1px solid #B34C81;
        }
    }
}