@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Tsukimi+Rounded&display=swap');
@import "./custom-variables";
@import "bootstrap/scss/bootstrap";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand', serif;
  font-size: $body-font-size-base;
  font-weight: $body-font-weight;
  color: $primary-font-color;
  background-color: $main-light;
  * {
    font-size: 1rem;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
  }  
};


