@import "./custom-variables";

.theme-button {
  position: relative;
  padding: $spacing*2 $spacing*2.5;
  border: none;
  border-radius: $spacing*5;
  cursor: pointer;
  transition: all $transition-speed ease;
  background-color: $secundary-dark-0;
  margin-right: $spacing*4;
  box-shadow: 0 $spacing/2 $spacing $accent-dark-1;
  &:hover:not(.disabled) {
    background-color: $accent-dark-2;
  }
  &:active:not(.disabled) {
    transform: scale(0.98);
  }
  &.active {
    background-color: $accent-dark-0;
    box-shadow: 0 $spacing/2 $spacing $primary-font-color;
  }
  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}