@import "./custom-variables";

.timeline-item {
    padding: $spacing*6;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 600px;
    border-radius: $border;
    margin-bottom: $spacing*4;
    position: relative;
    
    .arrow { 
      position: absolute;
      width: $spacing*6;
      height: $spacing*6;
      background-color: $secundary-light;
      transform: rotate(45deg);
      left: -$spacing*2.5;
      transition: 0.3s ease-in-out;
      align-self: center;
    }

    &:hover {
      transform: scale(1.05);
    }

    .year {
      font-weight: $semibold-font-weight;
      font-size: 3rem;
      color: $accent;
      line-height: 3rem;
    }
    .card-content {
      width: 70%;
      h3 { 
        font-weight: $semibold-font-weight;
        font-size: 1.25rem;
        margin-bottom: 0;
      }
      h4 {
        color: $accent-dark-1;
        margin-bottom: 0;
      }
      p {
        color: $accent-dark-2;
        margin-bottom: 0;
      }
    }
    &.selected {
      background-color: $secundary-light;
      .card-content {
        h3 { 
          font-weight: $semibold-font-weight;
          font-size: 1.25rem;
          color: $therciary;
        }
        h4 {
          color: $accent-dark-2;
        }
        p {
          color: $primary-font-color;
        }
      }
    }
  }